/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                               MSKCC/SVtorm Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                                                          Default config options for all compute environments
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

params {
    help                                                    = false
    email                                                   = null
    input                                                   = null
    outdir                                                  = null
    version                                                 = false
    hook_url                                                = null
    refs_dir                                                = null
    help_full                                               = false
    seq_center                                              = "MSKCC_IGO"
    read_length                                             = 100
    seq_library                                             = "Av2"
    show_hidden                                             = false
    multiqc_logo                                            = "${projectDir}/assets/SVtorm_logo_light.png"
    seq_platform                                            = "ILLUMINA"
    skip_multiqc                                            = false
    email_on_fail                                           = null
    multiqc_title                                           = null
    multiqc_config                                          = null
    save_reference                                          = false
    igenomes_ignore                                         = true
    monochrome_logs                                         = false
    plaintext_email                                         = false
    validate_params                                         = true
    publish_dir_mode                                        = 'copy'
    custom_config_base                                      = "https://raw.githubusercontent.com/nf-core/configs/master"
    config_profile_url                                      = null
    config_profile_name                                     = null
    trace_report_suffix                                     = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_contact                                  = null
    max_multiqc_email_size                                  = '25.MB'
    config_profile_description                              = null
    multiqc_methods_description                             = null
    pipelines_testdata_base_path                            = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
}

includeConfig 'conf/base.config'

profiles {

    crater {

        executor                                            = 'lsf'
        conda.enabled                                       = false
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        singularity.enabled                                 = true
        singularity.cacheDir                                = "/research/blancoj/.TOOLS/snglty/.singularity/cache"
        singularity.registry                                = 'quay.io'
        charliecloud.enabled                                = false
        singularity.autoMounts                              = true
        singularity.runOptions                              = "-B $TMPDIR"
        singularity.pullTimeout                             = '60m'        

        process {
            executor                                        = 'lsf'
            maxRetries                                      = 1
            errorStrategy                                   = 'retry'
            clusterOptions                                  = '-R "select[mem>16] rusage[mem=16]" -e .command.err'
        }
        
        executor {
            name                                            = 'lsf'
            queue                                           = 'default'
            queueSize                                       = 384
            pollInterval                                    = '10 sec'
            perJobMemLimit                                  = true
            submitRateLimit                                 = '10 sec'
        }

        params {
            // Cluster Tailored
            genome                                          = 'HG19VS'
            refs_dir                                        = '/research/blancoj/.HGREF'
            genome_base                                     = "${params.refs_dir}/${params.genome}"
            // General
            bwa                                             = "${params.genome_base}/bwamem2"
            fai                                             = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.all.fa.fai"
            dict                                            = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.all.fa.dict"
            fasta                                           = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.all.fa"
            refflat                                         = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.chr.gtf.refflat"
            cytobands                                       = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.cytobands.tsv"
            intervals                                       = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.seq_library}.trgt.sort.bed"
            kraken2db                                       = "${params.genome_base}/kraken2db"
            drawsv_chr                                      = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.chromosomes.csv"
            annotations                                     = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.annotation.gtf"
            chromosomes                                     = "${params.genome_base}/${params.genome}_chromosomes_lengths.txt"
            exclude_bed                                     = "${params.genome_base}/mappability/Homo_sapiens.${params.genome}.all.exclude.bed"
            known_sites                                     = "${params.genome_base}/gatk4/Homo_sapiens.${params.genome}.all.dbsnp.vcf.gz"
            allowlist_bed                                   = "${params.genome_base}/allowlist/Homo_sapiens.${params.genome}.allowlistgenes.bed"
            blocklist_bed                                   = "${params.genome_base}/gridss/Homo_sapiens.${params.genome}.all.blocklist.bed"
            pon_directory                                   = "${params.genome_base}/gridss"
            known_sites_tbi                                 = "${params.genome_base}/gatk4/Homo_sapiens.${params.genome}.all.dbsnp.vcf.gz.tbi"
            protein_domains                                 = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.protein_domains.gff3"
            intervals_bed_gunzip                            = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.seq_library}.trgt.sort.bed.gz"
            normal_uncollapsed_bam                          = "${params.genome_base}/control_normal/NORMAL.bam"
            normal_uncollapsed_bai                          = "${params.genome_base}/control_normal/NORMAL.bai"
            intervals_bed_gunzip_index                      = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.seq_library}.trgt.sort.bed.gz.tbi"
        }
    }

    juno {

        executor                                            = 'lsf'
        conda.enabled                                       = false
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        singularity.enabled                                 = true
        singularity.cacheDir                                = "/juno/cmo/bergerlab/blancoj/.TOOLS/snglty/.singularity/cache"
        singularity.registry                                = 'quay.io'
        charliecloud.enabled                                = false
        singularity.autoMounts                              = true
        singularity.runOptions                              = "-B $TMPDIR"
        singularity.pullTimeout                             = '60m'        

        process {
            executor                                        = 'lsf'
            maxRetries                                      = 1
            errorStrategy                                   = 'retry'
            clusterOptions                                  = '-R "select[mem>16] rusage[mem=16]" -e .command.err'
        }
        
        executor {
            name                                            = 'lsf'
            queue                                           = 'default'
            queueSize                                       = 384
            pollInterval                                    = '10 sec'
            perJobMemLimit                                  = true
            submitRateLimit                                 = '10 sec'
        }

        params {
            // Cluster Tailored
            genome                                          = 'HG19VS'
            refs_dir                                        = "/juno/cmo/bergerlab/blancoj/.HGREF"
            genome_base                                     = "${params.refs_dir}/${params.genome}"
            ensembl_version                                 = 112
            // General
            bwa                                             = "${params.genome_base}/bwa"
            fai                                             = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.fa.fai"
            dict                                            = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.fa.dict"
            fasta                                           = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.fa"
            refflat                                         = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.${params.ensembl_version}.chr.gtf.refflat"
            cytobands                                       = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.cytobands.tsv"
            intervals                                       = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.ensembl_version}.${params.seq_library}.trgt.sort.bed"
            kraken2db                                       = "${params.genome_base}/kraken2db"
            drawsv_chr                                      = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.chromosomes.csv"
            annotations                                     = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.annotation.gtf"
            chromosomes                                     = "${params.genome_base}/${params.genome}_chromosomes_lengths.txt"
            exclude_bed                                     = "${params.genome_base}/mappability/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.exclude.bed"
            known_sites                                     = "${params.genome_base}/gatk4/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.dbsnp.vcf.gz"
            allowlist_bed                                   = "${params.genome_base}/allowlist/Homo_sapiens.${params.genome}.allowlistgenes.bed"
            blocklist_bed                                   = "${params.genome_base}/gridss/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.blocklist.bed"
            pon_directory                                   = "${params.genome_base}/gridss"
            known_sites_tbi                                 = "${params.genome_base}/gatk4/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.dbsnp.vcf.gz.tbi"
            protein_domains                                 = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.protein_domains.gff3"
            intervals_bed_gunzip                            = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.ensembl_version}.${params.seq_library}.trgt.sort.bed.gz"
            normal_uncollapsed_bam                          = "${params.genome_base}/control_normal/NORMAL.bam"
            normal_uncollapsed_bai                          = "${params.genome_base}/control_normal/NORMAL.bai"
            intervals_bed_gunzip_index                      = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.ensembl_version}.${params.seq_library}.trgt.sort.bed.gz.tbi"
        }
    }

    iris {

        executor                                            = 'lsf'
        conda.enabled                                       = false
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        singularity.enabled                                 = true
        singularity.cacheDir                                = "/data1/bergerm1/blancoj/.TOOLS/snglty/.singularity/cache"
        singularity.registry                                = 'quay.io'
        charliecloud.enabled                                = false
        singularity.autoMounts                              = true
        singularity.runOptions                              = "-B $TMPDIR"
        singularity.pullTimeout                             = '600m'        

        process {
            cache                                           = "lenient"
            queue                                           = 'test01'
            executor                                        = 'slurm'
            partition                                       = 'test01'
            maxRetries                                      = 3
            afterScript                                     = "sleep 60"
            errorStrategy                                   = { task.exitStatus == 0 ? "retry" : "terminate" }
            clusterOptions                                  = '-e .command.err'
            cpus                                            = 2
            memory                                          = { 8.GB  * task.attempt }
            time                                            = { 4.h   * task.attempt }
            withLabel: 'process_low' {
                cpus                                        = 2
                memory                                      = { 6.GB  * task.attempt }
                time                                        = { 2.h   * task.attempt }
            }
            withLabel: 'process_medium' {
                cpus                                        = 4
                memory                                      = { 16.GB * task.attempt }
                time                                        = { 8.h   * task.attempt }
            }
            withLabel: 'process_high' {
                cpus                                        = 8
                memory                                      = { 64.GB * task.attempt }
                time                                        = { 24.h  * task.attempt }
            }
            withLabel: 'process_long'    { 
                time                                        = { 72.h  * task.attempt } }
            withLabel: 'process_highmem' { 
                memory                                      = { 128.GB * task.attempt } }
            withLabel: 'process_highcpu' { 
                cpus                                        = 16 }
        }
        
        executor {
            name                                            = 'slurm'
            queue                                           = 'test01'
            partition                                       = 'test01'
            queueSize                                       = 2000
            pollInterval                                    = '10 sec'
            perJobMemLimit                                  = true
            exitReadTimeout                                 = "30 min"
            submitRateLimit                                 = '10/1sec'
            jobName                                         = {
                                                            task.name
                                                                .replace("[", "(")
                                                                .replace("]", ")")
                                                                .replace(" ", "_")
            }
        }

        params {
            // Cluster Tailored
            genome                                          = 'HG19VS'
            refs_dir                                        = '/data1/bergerm1/blancoj/.HGREF'
            genome_base                                     = "${params.refs_dir}/${params.genome}"
            ensembl_version                                 = 112
            // General
            bwa                                             = "${params.genome_base}/bwa"
            fai                                             = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.fa.fai"
            dict                                            = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.fa.dict"
            fasta                                           = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.fa"
            refflat                                         = "${params.genome_base}/ensembl/Homo_sapiens.${params.genome}.${params.ensembl_version}.chr.gtf.refflat"
            cytobands                                       = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.cytobands.tsv"
            intervals                                       = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.ensembl_version}.${params.seq_library}.trgt.sort.bed"
            kraken2db                                       = "${params.genome_base}/kraken2db"
            drawsv_chr                                      = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.chromosomes.csv"
            annotations                                     = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.annotation.gtf"
            chromosomes                                     = "${params.genome_base}/${params.genome}_chromosomes_lengths.txt"
            exclude_bed                                     = "${params.genome_base}/mappability/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.exclude.bed"
            known_sites                                     = "${params.genome_base}/gatk4/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.dbsnp.vcf.gz"
            allowlist_bed                                   = "${params.genome_base}/allowlist/Homo_sapiens.${params.genome}.allowlistgenes.bed"
            blocklist_bed                                   = "${params.genome_base}/gridss/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.blocklist.bed"
            pon_directory                                   = "${params.genome_base}/gridss"
            known_sites_tbi                                 = "${params.genome_base}/gatk4/Homo_sapiens.${params.genome}.${params.ensembl_version}.all.dbsnp.vcf.gz.tbi"
            protein_domains                                 = "${params.genome_base}/drawsv/Homo_sapiens.${params.genome}.protein_domains.gff3"
            intervals_bed_gunzip                            = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.ensembl_version}.${params.seq_library}.trgt.sort.bed.gz"
            normal_uncollapsed_bam                          = "${params.genome_base}/control_normal/NORMAL.bam"
            normal_uncollapsed_bai                          = "${params.genome_base}/control_normal/NORMAL.bam.bai"
            intervals_bed_gunzip_index                      = "${params.genome_base}/intervals/Homo_sapiens.${params.genome}.${params.ensembl_version}.${params.seq_library}.trgt.sort.bed.gz.tbi"
        }
    }
    debug {
        cleanup                                             = false
        dumpHashes                                          = true
        process.beforeScript                                = 'echo $HOSTNAME'
        nextflow.enable.configProcessNamesValidation        = true
    }
    conda {
        conda.enabled                                       = true
        conda.channels                                      = ['conda-forge', 'bioconda']
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        singularity.enabled                                 = false
        charliecloud.enabled                                = false
    }
    mamba {
        conda.enabled                                       = true
        conda.useMamba                                      = true
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        singularity.enabled                                 = false
        charliecloud.enabled                                = false
    }
    docker {
        conda.enabled                                       = false
        docker.enabled                                      = true
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        docker.runOptions                                   = '-u $(id -u):$(id -g)'
        singularity.enabled                                 = false
        charliecloud.enabled                                = false
    }
    arm {
        docker.runOptions                                   = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        executor                                            = 'lsf'
        conda.enabled                                       = false
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        singularity.enabled                                 = true
        singularity.registry                                = 'quay.io'
        charliecloud.enabled                                = false
        singularity.autoMounts                              = true
        singularity.runOptions                              = "-B $TMPDIR"
        singularity.pullTimeout                             = '60m'

        process {
            executor                                        = 'lsf'
            maxRetries                                      = 1
            errorStrategy                                   = 'retry'
            clusterOptions                                  = '-R "select[mem>16] rusage[mem=16]"'
            clusterOptions                                  = '-e .command.err'
        }
        
        executor {
            name                                            = 'lsf'
            queue                                           = 'default'
            queueSize                                       = 384
            pollInterval                                    = '10 sec'
            perJobMemLimit                                  = true
            submitRateLimit                                 = '10 sec'
        }
    }
    podman {
        podman.enabled                                      = true
        conda.enabled                                       = false
        docker.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        singularity.enabled                                 = false
        charliecloud.enabled                                = false
    }
    shifter {
        conda.enabled                                       = false
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = true
        apptainer.enabled                                   = false
        singularity.enabled                                 = false
        charliecloud.enabled                                = false
    }
    charliecloud {
        conda.enabled                                       = false
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = false
        singularity.enabled                                 = false
        charliecloud.enabled                                = true
    }
    apptainer {
        conda.enabled                                       = false
        docker.enabled                                      = false
        podman.enabled                                      = false
        shifter.enabled                                     = false
        apptainer.enabled                                   = true
        singularity.enabled                                 = false
        apptainer.autoMounts                                = true
        charliecloud.enabled                                = false
    }
    wave {
        wave.freeze                                         = true
        wave.enabled                                        = true
        wave.strategy                                       = 'conda,container'
        apptainer.ociAutoPull                               = true
        singularity.ociAutoPull                             = true
    }
    gitpod {
        executor.name                                       = 'local'
        executor.cpus                                       = 4
        executor.memory                                     = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    test      { includeConfig 'conf/test.config'      }
    test_full { includeConfig 'conf/test_full.config' }
}

includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

env {
    R_PROFILE_USER                                          = "/.Rprofile"
    R_ENVIRON_USER                                          = "/.Renviron"
    JULIA_DEPOT_PATH                                        = "/usr/local/share/julia"
    PYTHONNOUSERSITE                                        = 1
}

process.shell = [
    "bash",
    "-C",                                                   // No clobber - prevent output redirection from overwriting files.
    "-e",                                                   // Exit if a tool returns a non-zero status/exit code
    "-u",                                                   // Treat unset variables and parameters as an error
    "-o",                                                   // Returns the status of the last command to exit..
    "pipefail"                                              // ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}
prov {
    enabled = true
    formats {
        bco {
            file = "${params.outdir}/pipeline_info/manifest_${trace_timestamp}.bco.json"
        }
    }
}

manifest {
    name            = 'svtorm'
    contributors    = [
        [
            name: 'Juan Blanco Heredia',
            affiliation: 'MSKCC-CMO-Technological Innovation Lab',
            email: 'blancoj@mskcc.org',
            github: 'https://github.com/jblancoheredia',
            contribution: ['author'],
            orcid: '0000-0001-9526-7450'
        ],
    ]
    homePage        = 'https://github.com/jblancoheredia/SVtorm'
    description     = """Structural Variant for Target Panels Optimized by Recalling & Merging"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}

plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
    id 'nf-prov@1.2.2'   // Provenance reports for pipeline runs
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run path/to/svtorm/main.nf -profile <crater/juno/iris> --input ../01_data/samples.csv --outdir ../03_outs/"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}

includeConfig 'conf/modules.config'

/*
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                                                                                                  END
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
*/