/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                  Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
      Available keys to override module options:
          ext.args   = Additional arguments appended to command in module.
          ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
          ext.args3  = Third  set of arguments appended to command in module (multi-tool modules).
          ext.prefix = File name prefix for output files.
--------------------------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: BAM_PAIRED {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/quality_cntrl/bam_paired/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
            path: { "${params.outdir}/fastqc/${meta.sample_id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CAT_FASTQ_NORMAL' {
        publishDir = [
            path: { params.save_merged_fastq ? "${params.outdir}/cat_fastq/normal/${meta.sample_id}" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.endsWith('.fastq.gz') && params.save_merged_fastq) ? filename : null }
        ]
    }

    withName: 'CAT_FASTQ_TUMOUR' {
        publishDir = [
            path: { params.save_merged_fastq ? "${params.outdir}/cat_fastq/tumour/${meta.sample_id}" : params.outdir },
            mode: params.publish_dir_mode,
            saveAs: { filename -> (filename.endsWith('.fastq.gz') && params.save_merged_fastq) ? filename : null }
        ]
    }

    withName: PICARD_COLLECTMULTIPLEMETRICS {
        ext.args = ''
        publishDir = [
            path: { "${params.outdir}/quality_cntrl/picard/${meta.patient_id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DELLY' {
        ext.args   = { '-t ALL -a 100000' }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/delly/${meta_tumour.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SVABA' {
        ext.args   = { '-C 100000 -L 2 -x 0 --read-tracking' }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/svaba/${meta_tumour.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MANTA_SOMATIC' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/manta/${meta_tumour.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GRIDSS' {
        ext.args   = { '--jvmheap 30g --otherjvmheap 16g --maxcoverage 100000 --picardoptions VALIDATION_STRINGENCY=LENIENT' }
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/gridss/${meta_tumour.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SURVIVOR_MERGE' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/merge/${meta.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GATK4_BEDTOINTERVALLIST' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/merge/${meta.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RECALL_SV' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/recall/${meta.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SURVIVOR_FILTER' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/filter/${meta.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DRAWSV' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/strctrlvarnts/drawsv/${meta.patient_id}" },
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/quality_cntrl/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: !params.skip_multiqc
        ]
    }

}
